# Dependencies
node_modules/
dist/
build/

# Prisma
generated/prisma/
!generated/prisma/client.js
!generated/prisma/client.d.ts

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test / temp
coverage/
.tmp/